#score-graph, nav, .text-secondary small {
  display:none !important;
}

.jumbotron {
 margin-bottom: 0 !important;
}

main {
  padding-top: 0;
}

.table {
  color: red;
  font: 2rem Inconsolata, monospace;
}

.table td, .table th {
  border-top: none;
}

table tr:nth-child(n+11) {
  display: none;
}

body {
  background-color: #060607;
  background-image: linear-gradient(#060607 60%, rgba(150, 0, 0, 0.75));
  animation: gradient 3s linear infinite alternate;
  color: red;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px red;
}

.username-data {
  padding-left: 64px !important;
}
