{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
            {% if Configs.ctf_logo %}
            <h1 class="advanced-ex-text">Advanced</h1>
            <img class="scoreboard-logo" src="{{ url_for('views.files', path=Configs.ctf_logo) }}" style="width: 256px" alt="{{ Configs.ctf_name }}">
            <h1 class="advanced-ex-text">Experience</h1>
            {% else %}
            <h1>{{ Configs.ctf_name }}</h1>
            {% endif %}
	</div>
</div>
<div class="container">
	{% include "components/errors.html" %}

	<div id="score-graph" class="row d-flex align-items-center">
		<div class="col-md-12 text-center">
			<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
		</div>
	</div>

	{% cache 60, CacheKeys.PUBLIC_SCOREBOARD_TABLE %}
	{% if standings %}
	<div id="scoreboard" class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<td scope="col" class="text-center" style="width:64px"><b>Place</b></td>
						<td scope="col" class="username-data"><b>{{ get_mode_as_word(capitalize=True) }}</b></td>
						<td scope="col" class="text-right"><b>Score</b></td>
					</tr>
				</thead>
				<tbody>
				{% for standing in standings %}
					<tr>
						<th scope="row" class="text-center">{{ loop.index }}</th>
						<td class="username-data">{{ standing.name | truncate(50) }}</td>
						<td class="text-right">{{ standing.score }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	{% endcache %}
</div>
{% endblock %}

{% block scripts %}
	<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', path='js/pages/scoreboard.js') }}"></script>
{% endblock %}
